.avatar {
  width: 100%
}

.profile {
  margin-top: 10px;
}

.main {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSq2JYEU9dovUOgwzFsR6O7MDWoZgqOzyty06A9O2ojmVBNW2qp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 670px;
}
.searchContainer {
  margin-top: 200px;
  border: 1px solid white;
  border-radius:15px;
  box-shadow: 8px 6px white;
  padding:50px;
  background: gray;
}
.prof {
  background: #1f2021;
}

.hov:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 3px 3px green;
  cursor: pointer;
}

.hov {
  padding: 10px;
}
